@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #152129;
}

.btn {
  height: 60px;
  width: 60px;
}

.btn-play {
  height: 80px;
  width: 80px;
}

#canvas_element {
  position: absolute;
  top: 0;
  left: 50;
  border-radius: 100%;
}

.container {
  background-color: #3e3c3f;
  width: 400px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.song-info h1 {
  font-size: 4rem;
  color: #fff;
  font-family: "Nerko One", cursive;
  margin: 0;
}

.song-info p {
  color: #ddd;
  font-family: sans-serif;
}

.input-range {
  width: 90%;
  margin: 15px 15px;
  appearance: none;
  height: 1px;
}

.input-range:focus {
  outline: none;
}

.input-range::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 100%;
}

.controller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .image,
  #canvas_element {
    width: 250px;
    height: 250px;
  }
  .container {
    background: none;
  }
  .song-info h1 {
    font-size: 3rem;
  }
}

.animation-spin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
